<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to Create responsive Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
<div class="welcome-text">
        <h1>
Welcome to<span> OpenCellid API</span></h1>
<a href="docs">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Click here to test our API
</a>
    </div>
</header>

</body>
</html>
